* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1920px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  background-color: #e4e1ec;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.list-item {
  width: 300px;
  min-height: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 10px;
  line-height: 2;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #a594fa;
  transition: 0.5s;
}

.list-item:hover {
  background-color: #ccc7e2;
}

.previous-days {
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;

}
.previous-days ul {
  list-style: none;
}

.tooltip {
  width: 100%;
  min-height: 30px;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1;
  display: none;
  padding-left: 2px;
  font-size: 18px;
  background-color: #2906ec;
  
}

.red {
  color: red;
}
.green {
  color: green;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px 20px;
}

.footer-logo {
  width: 100px;
}
